<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--端口-->
    <add key="Port" value="50000"/>
    <!--窗口区间-->
    <add key="Interval" value="1000"/>
    <!--允许类型-->
    <add key="FileTypes" value=".jpg,.jpeg,.png,.gif,.bmp"/>
    <!--允许2M-->
    <add key="FileSize" value="2097152"/>
    <!--任务阀-->
    <add key="Tasks" value="3000"/>
    <!--包速阀-->
    <add key="PackSpeed" value="100000"/>
    <!--图片域名路径-->
    <add key="Img1_Path" value="D:/Image/Img1/"/>
    <!--图片域名主机-->
    <add key="Img1_Domain" value="http://img1.shaokaolaile.com/"/>
  </appSettings>
</configuration>
