.line{width:100%; height:1px; overflow:hidden; background:#dfdfdf; margin:20px 0px;}
.password_main{line-height:40px; margin-left:5%;}
.password_main span{width:5%; text-align:right; display:inline-block; margin-right:1em;}
.password_main input{padding:5px 0px 5px 5px; border:1px solid #e1e1e1; border-color:#bebebe #e1e1e1 #e1e1e1 #cfcfcf; color:#666;}
.password_main em{display:inline-block; border:1px solid #e1e1e1; position:absolute; margin-top:5px; *margin-top:1px; border-left:0px;}
.password_main em img{height:26px;}
.main_button{text-align:center; width:23%;}
.main_button a{background:url(/Admin/Images/public/button_bg.png) no-repeat; display:inline-block; width:103px; height:40px; line-height:40px; color:#fff; font-weight:bold; font-size:14px; margin:10px 30px 0px;}
.main_title{font-weight:bold;}
/*重置密码*/
.reset_content{margin-left:6%;}
.reset_content li{padding:10px 0px; display:block; width:100%;}
.reset_content input{margin:0px 5px 0px 0px; border:none;}

