<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Port" value="50002"/>
    <add key="Interval" value="2500"/>
    <add key="Tasks" value="3000"/>
    <add key="PackSpeed" value="100000"/>
    <add key="SubSize" value="1357"/>
    <add key="CacheQueueSize" value="10000"/>
    <add key="CacheTimeOut" value="15"/>
  </appSettings>
</configuration>
