<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--端口-->
    <add key="Port" value="50001"/>
    <!--窗口区间-->
    <add key="Interval" value="2500"/>
    <!--允许类型-->
    <add key="FileTypes" value=".txt,.apk,.rar,.zip"/>
    <!--允许2M-->
    <add key="FileSize" value="2147483648"/>
    <!--任务阀-->
    <add key="Tasks" value="3000"/>
    <!--包速阀-->
    <add key="PackSpeed" value="100000"/>
    <!--存储路径-->
    <add key="SavePath" value="D:/File/"/>
  </appSettings>
</configuration>
