<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="/Admin/login.htm">
      <error statusCode="403" redirect="/Admin/login.htm" />
      <error statusCode="404" redirect="/Admin/login.htm" />
    </customErrors>
    <httpRuntime maxRequestLength="20971520" appRequestQueueLimit="60" executionTimeout="1200"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="60"/>
  </system.web>
  <appSettings>
    <add key="ImgPath" value="/unifyhome/important/"/>
  </appSettings>
  <system.webServer>
    <httpErrors>
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="/login.htm" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/login.htm" responseMode="ExecuteURL" />
    </httpErrors>
    <caching>
      <profiles>
        <add extension=".aspx" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
    <rewrite>
      <rules>
        <!--301重定向把不带3W的域名 定向到带3W-->
        <rule name="Redirect" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^hesbbq.com$"/>
          </conditions>
          <action type="Redirect" url="http://hesbbq.cin/{R:0}" redirectType="Permanent"/>
        </rule>
        <!--首页-->
        <rule name="rD">
          <match url="^$"/>
          <action type="Rewrite" url="/Admin/login.htm"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
