<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <customErrors defaultRedirect="http://www.hesbbq.com/" mode="RemoteOnly">
      <error redirect="http://www.hesbbq.com/" statusCode="404"/>
    </customErrors>
  </system.web>
  <appSettings>
    <add key="ImgPath" value="/unifyhome/important/"/>
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <!--301重定向把不带3W的域名 定向到带3W-->
        <rule name="Redirect" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^hesbbq.com$"/>
          </conditions>
          <action type="Redirect" url="http://hesbbq.cin/{R:0}" redirectType="Permanent"/>
        </rule>
        <!--首页-->
        <rule name="rD">
          <match url="^$"/>
          <action type="Rewrite" url="/Admin/login.htm"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
